.bottom-menu {
  position: fixed;
  left: 5px; /* Adjusted to match right margin for consistency */
  bottom: 3px;
  width: calc(
    100% - 10px
  ); /* Adjust width to account for left and right margins */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  height: auto;
}

.menu-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
  border: 1px solid grey;
  border-radius: 10px;
}

.menu-item:active {
  border: 1px solid white;
  transform: scale(95%);
}
