:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(
    circle,
    rgba(61, 141, 238, 1) 0%,
    rgba(47, 102, 168, 1) 0%,
    rgba(38, 75, 120, 1) 0%,
    rgba(26, 43, 63, 1) 31%,
    rgba(17, 17, 17, 1) 43%
  );
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

  /* Additional style to prevent iOS bounce effect */
  -webkit-overflow-scrolling: touch;
  position: fixed; /* This prevents scrolling on iOS */
  width: 100%; /* Prevents horizontal scrolling */
}

@media (prefers-color-scheme: light) {
  :root {
    background: radial-gradient(
      circle,
      rgba(61, 141, 238, 1) 0%,
      rgba(47, 102, 168, 1) 0%,
      rgba(38, 75, 120, 1) 0%,
      rgba(26, 43, 63, 1) 31%,
      rgba(17, 17, 17, 1) 43%
    );
  }
}
